%html
  %head
    %script{:charset => "utf-8", :src => "http://d3js.org/d3.v3.min.js"}
    %meta{:charset => "utf-8"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %h1
      Jaime D3 Starter Template
    %svg

  / Must include after document loads.
  %script{:src => "js/viz.js"}
